.loadScreen {
  width: 100vw;
  height: 100vh;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100px;
    stroke: none;
    fill: gray;
    > *:nth-child(3) {
      animation: turnRed 2s ease-in forwards;
    }
    > *:nth-child(1) {
      animation: turnRed 2s 2s ease-in forwards;
    }
    > *:nth-child(2) {
      animation: turnRed 2s 4s ease-in forwards;
    }
  }
}

@keyframes turnRed {
  0% {
    fill: gray;
  }
  50% {
    fill: red;
  }
  100% {
    fill: red;
  }
}
