@import 'scss/components.scss';

/* */

.button {

    $min-size: 40px;
    $min-size-small: 30px;

    /* */

    position: relative;

    min-width: $min-size;
    min-height: $min-size;

    background: transparent;

    font-family: 'Roboto Condensed', sans-serif;
    @include font-sizer(14);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;

    cursor: pointer;

    outline: none !important;

    border: none;

    z-index: 1;

    backface-visibility: hidden;

    :global(.theme--dark--high-contrast) & {

        color: black !important;

    }

    &--full {

        width: 100%;

    }

    &--padding {

        padding: 0 $theme-padding * 2;

    }

    &--small {

        min-height: $min-size-small

    }

    &--loading {

        color: transparent !important;

        border-color: inherit;

        &::before {

            content: '';

            $size: 20px;

            position: absolute;

            top: 50%;
            left: 50%;

            width: $size;
            height: $size;

            margin-top: -$size / 2;
            margin-left: -$size / 2;

            border: 3px solid transparent;
            border-right-color: inherit;

            border-radius: $size;

            animation: rotate .4s linear infinite;

            @keyframes rotate {

                from {

                    transform: rotate(0deg);

                }

                to {

                    transform: rotate(360deg);

                }

            }

        }

    }

    &__background {

        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: -1;

        border: 1px solid transparent;

    }

    &:hover &__background {

        filter: brightness(0.9);

    }

    &:active &__background {

        filter: brightness(0.8);

    }

    &:not(:last-of-type){

        margin-right: $theme-padding;

    }

}
