@import "Variables.scss";

.login-container {
    position: relative;
    display: block;
    min-height: 400px;
    height: 100%;

    .form-container {
        position: absolute;
        display: block;
        width: 300px;
        height: 380px;
        top: 50%;
        left: 50%;
        margin-top: -190px;
        margin-left: -150px;

        img {
            width: 100%;
            max-width: 300px;
            margin-bottom: 50px;
        }

        .login-form {
            fieldset {
                border: 0;
                
                p {
                    font-size: 11px;
                    color: $primaryColor;
                }

                input {
                    font-size: 13px;
                    color: $white;
                    width: 300px;
                    padding-bottom: 5px;
                    margin-bottom: 15px;
                    border: 0;
                    background-color: transparent;
                    border-bottom: 1px solid $primaryColor;

                    &::placeholder {
                        font-size: 14px;
                        color: $primaryColor;
                    }

                    &:focus {
                        border-bottom: 2px solid $primaryColor;
                    }
                }

                p.error-message {
                    display: block;
                    width: 300px;
                    margin: 0 auto;
                    padding: 5px;
                    color: $white;
                    background-color: $secondaryColor;
                    border-radius: 3px;
                    text-align: center;

                    &.hidden {
                        display: none;
                    }
                }

                button {
                    display: block;
                    width: 100px;
                    font-size: 14px;
                    color: $primaryColor;
                    margin: 0 auto;
                    margin-top: 30px;
                    padding: 10px;
                    background-color: transparent;
                    border: 1px solid $primaryColor;

                    &:hover {
                        cursor: pointer;
                        border: 2px solid $primaryColor;
                        transition: all .2s ease;
                    }
                }
            }
        }
    }
}