@import "Variables.scss";

.video-list-container {
    position: relative;
    width: 100%;
    max-width: calc(100% - 410px);
    padding: 55px 50px;
    overflow-y: auto;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);

    @media screen and (max-width: 992px) {
        max-width: 100%;
        padding: 10px 20px;
        overflow-y: hidden;
    }

    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;

        li {
            position: relative;
            display: block;
            width: 48%;
            height: 200px;
            margin-top: 4%;
            overflow: hidden;

            button {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: 1px solid $white;
                cursor: pointer;
                overflow: hidden;

                img {
                    position: absolute;
                    display: block;
                    top: -20%;
                    left: 50%;
                    width: auto;
                    height: 140%;
                    transform: translateX(-50%);
                }

                figcaption {
                    position: absolute;
                    display: block;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    padding: 20px 10px;
                    background-color: rgba(0,0,0,.7);
                    text-align: center;

                    p {
                        font-size: 14px;
                        color: $white;
                    }
                }
            }
        }
    }
}