@import "Variables.scss";

#video-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 50;
}

#video-overlay.show-overlay {
    display: block;

    button {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $white;
        color: $white;
        font-weight: bold;
        top: 5%;
        right: 3%;
        cursor: pointer;
    }

    iframe {
        position: relative;
        display: block;
        margin: 0 auto;
        transform: translateY(12.5%);
        border: 1px solid $white;
    }
}