@import "common/common";
@import "~angular-material/angular-material";

app {
	display: block;
	position: relative;
	height: 100%;
	.app {
		height: 100%;
		background-color: $darkBgColor;
		background-image: url('../../assets/background.png');
		background-size: cover;
		background-position: center;

		color: $darkTextColor;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		.darkoverlay {
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.app-view {
			height: 100%;
		}
	}
}


