.App {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
    center / cover url(./assets/background.png);
  color: var(--white);
  min-width: 100vw;
  width: fit-content;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
