/* bring in normalize.css styles
    This is a create-react-app specific tag that will be
    processed by webpack based on the browserlist. */
@import-normalize;

:root {
  --mainColor: #a99d81;
  --white: white;
  --black: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
