@import 'scss/components.scss';

.Modal {

    $header-height: 85px;

    /* */

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(black, .4);

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    :global(.theme--dark) & {

        background: rgba(black, .75);

    }

    :global(.theme--light--high-contrast) & {

        background: rgba($md-yellow-500, .95);

    }

    :global(.theme--dark--high-contrast) & {

        background: rgba(black, .90);

    }

    &Header {

        height: $header-height;

        padding: $theme-padding * 2;

        border-bottom: 1px solid $md-grey-200;

        :global(.theme--dark) & {

            border-bottom-color: $md-grey-700;

        }

        :global(.theme--light--high-contrast) & {

            border-bottom-color: black;

        }

        :global(.theme--dark--high-contrast) & {

            border-bottom-color: white;

        }

        &Title {

            font-family: 'Barlow', sans-serif;
            @include font-sizer(20);
            font-weight: 700;
            line-height: 1;
            color: $md-red-500;

            :global(.theme--light--high-contrast) & {

                color: black;

            }

            :global(.theme--dark--high-contrast) & {

                color: white;

            }

        }

        &Close {

            background: transparent;

            &:focus {

                outline: none;

            }

            svg {

                $size: 24px;

                width: $size;
                height: $size;

                fill: $md-red-500;

                cursor: pointer;

                :global(.theme--light--high-contrast) & {

                    fill: black;

                }

                :global(.theme--dark--high-contrast) & {

                    fill: white;

                }

            }

        }

    }

    &:global(.transition-fade-exit-active) &Wrapper {

        opacity: 0;
        transform: scale(0.98);

    }

    &Wrapper {

        background: white;

        border-radius: 10px;

        animation: slideUp .3s ease;

        transition: .2s ease;
        transition-property: opacity, transform;

        box-shadow: 0 0 50px rgba(black, .1);

        :global(.theme--dark) & {

            background: $md-grey-800;

        }

        :global(.theme--light--high-contrast) & {

            background: $md-yellow-500;

            border: 2px solid black;

        }

        :global(.theme--dark--high-contrast) & {

            background: black;

            border: 2px solid white;

        }

        @keyframes slideUp {

            from {

                opacity: 0;
                transform: translateY(10px);

            }

            to {

                opacity: 1;
                transform: translateY(0);

            }

        }

    }

    &Content {

        max-height: 90vh;
        max-height: calc(90vh - #{$header-height});

        overflow: auto;

    }

}
