@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Roboto Condense, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Condense, Arial, Helvetica, sans-serif;
}