$theme-padding: 15px;

/* */

$break-point-xl: 1200px;
$break-point-lg: 992px;
$break-point-md: 768px;
$break-point-sm: 576px;

$theme-transition-duration : .4s;
$theme-transition-timing-function: ease;
$theme-border-radius: 5px;

/* */

$header-height: 80px;
$tabs-height: 64px;

/* */

$theme-color-1: #1D1A1A;
$theme-color-2: #4C4C4C;
$theme-color-3: #e33641;

$md-gold-500: #A99E7E;
